.vs/
VirtualServersApp/.vscode/
VirtualServersApp/Client/bin/
VirtualServersApp/Client/obj/
VirtualServersApp/Server/bin/
VirtualServersApp/Server/obj/
VirtualServersApp/Shared/bin/
VirtualServersApp/Shared/obj/
