<div class="col-sm">
    <span style="font-weight: bold">@ServerModel.Name</span>
</div>
<div class="col-sm">
    <span style="font-weight: bold">@ServerModel.FavouriteSince.ToString("yyyy/MM/dd HH:mm:ss")</span>
</div>