<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; background-color: white !important;">
    <div class="navbar-nav">
        <NavLink class="nav-link" href="/">
            <span class="nav-item" aria-hidden="true">Home</span>
        </NavLink>
        <NavLink class="nav-link" href="servers">
            <span class="nav-item" aria-hidden="true">Servers</span>
        </NavLink>
        <NavLink class="nav-link" href="pricing">
            <span class="nav-item" aria-hidden="true">Pricing</span>
        </NavLink>
        <NavLink class="nav-link" href="orders">
            <span class="nav-item" aria-hidden="true">Orders</span>
        </NavLink>
        <NavLink class="nav-link" href="contact">
            <span class="nav-item" aria-hidden="true">Contact</span>
        </NavLink>
    </div>
</nav>